<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Login</title>
</head>
<body>
    <div th:replace="fragments/navbar :: start_navbar"></div>

    <div class="container-lg p-5 center">
        <div class="card text-center mx-auto" style="width: 50%">
            <div class="card-body mx-auto" style="width: 80%">
                <h4 class="card-title text-center">Please log in</h4>
                <hr/>
                <form th:action="@{/login}" th:method="post">
                    <div class="container pt-1 pb-1">
                        <input class="form-control" th:name="username" type="text" placeholder="Email"/>
                    </div>
                    <div class="container pt-1 pb-1">
                        <input class="form-control" th:name="password" type="password" placeholder="Password"/>
                    </div>
                    <hr/>
                    <button class="btn bg-warning" type="submit">Login</button>
                </form>
            </div>
        </div>
    </div>

    <!--
    <div>
        Delivery Object'<span th:text="${company}"/>' selected!
    </div>
    <form th:action="@{/login}" th:method="post">
        <div>
            <label>email</label>
            <input th:name="username" type="text"/>
        </div>
        <div>
            <label>password</label>
            <input th:name="password" type="password"/>
        </div>
        <button type="submit">Login</button>
    </form>
    -->
    <div th:replace="fragments/footer :: main_footer"></div>
</body>
</html>