<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Overview</title>
</head>
<body>
    <div th:replace="fragments/navbar :: user_navbar"></div>
    <div class="container-lg p-3" th:object="${user}">
        <form th:action="@{/updateUser}" th:method="post" th:object="${user}">
        <div class="card mx-auto p-1" style="width: 80%">
            <div class="card-body mx-auto" style="width: 100%">
                <h3 class="card-title">Customer Info</h3>
                <hr/>
                <div class="form-row">
                    <div class="form-group col-4">
                        <label>Email</label>
                        <input class="form-control form-control-sm" th:field="*{email}" type="text" readonly/>
                    </div>
                    <div class="form-group col-4">
                        <label>Firstname</label>
                        <input class="form-control form-control-sm" th:field="*{firstname}" type="text"/>
                    </div>
                    <div class="form-group col-4">
                        <label>Lastname</label>
                        <input class="form-control form-control-sm" th:field="*{lastname}" type="text"/>
                    </div>
                </div>
                <h4 class="card-title">Address</h4>
                <hr/>
                <div class="form-row">
                    <div class="form-group col-4">
                        <label>Name</label>
                        <input class="form-control form-control-sm" th:field="*{address.name}" type="text"/>
                    </div>
                    <div class="form-group col-4">
                        <label>Streetname</label>
                        <input class="form-control form-control-sm" th:field="*{address.streetname}" type="text"/>
                    </div>
                    <div class="form-group col-4">
                        <label>Housenumber</label>
                        <input class="form-control form-control-sm" th:field="*{address.housenumber}" type="text"/>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-4">
                        <label>Postcode</label>
                        <input class="form-control form-control-sm" th:field="*{address.postcode}" type="text"/>
                    </div>
                    <div class="form-group col-4">
                        <label>City</label>
                        <input class="form-control form-control-sm" th:field="*{address.city}" type="text"/>
                    </div>
                    <div class="form-group col-4">
                        <label>Country</label>
                        <input class="form-control form-control-sm" th:field="*{address.country}" type="text"/>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-4"></div>
                    <div class="form-group col-4"></div>
                    <div class="form-group col-4">
                        <button class="btn bg-warning btn-block p-1" type="submit">Change Customer Info</button>
                    </div>
                </div>
                <hr/>
                <h3 class="card-title">Delivery List</h3>
                <hr/>
                <div th:each="delivery : ${user.deliverylist}">
                    <h5>Delivery ID <span th:text="${delivery.id}"/></h5>
                    <hr/>
                    <h6>Source Address</h6>
                    <div class="form-row">
                        <div class="form-group col-4">
                            <p><span th:text="${delivery.source.name}"/></p>
                        </div>
                        <div class="form-group col-4">
                            <p><span th:text="${delivery.source.streetname}"/></p>
                        </div>
                        <div class="form-group col-4">
                            <p><span th:text="${delivery.source.housenumber}"/></p>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-4">
                            <p><span th:text="${delivery.source.postcode}"/></p>
                        </div>
                        <div class="form-group col-4">
                            <p><span th:text="${delivery.source.city}"/></p>
                        </div>
                        <div class="form-group col-4">
                            <p><span th:text="${delivery.source.country}"/></p>
                        </div>
                    </div>
                    <h6>Destination Address</h6>
                    <div class="form-row">
                        <div class="form-group col-4">
                            <p><span th:text="${delivery.destination.name}"/></p>
                        </div>
                        <div class="form-group col-4">
                            <p><span th:text="${delivery.destination.streetname}"/></p>
                        </div>
                        <div class="form-group col-4">
                            <p><span th:text="${delivery.destination.housenumber}"/></p>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-4">
                            <p><span th:text="${delivery.destination.postcode}"/></p>
                        </div>
                        <div class="form-group col-4">
                            <p><span th:text="${delivery.destination.city}"/></p>
                        </div>
                        <div class="form-group col-4">
                            <p><span th:text="${delivery.destination.country}"/></p>
                        </div>
                    </div>
                    <h6>Delivery Objects</h6>
                    <div class="form-row" th:each="object : ${delivery.deliveryobjectlist}">
                        <div class="form-group col-4">
                            <p><span th:text="${object.description}"/></p>
                        </div>
                        <div class="form-group col-4">
                            <p>(<span th:text="${object.category}"/>)</p>
                        </div>
                        <div class="form-group col-4">
                            <p><span th:text="${object.price}"/> €</p>
                        </div>
                    </div>
                    <h6>Details</h6>
                    <div class="form-row">
                        <div class="form-group col-4" th:if="${delivery.expressdelivery}">
                            <p>Express Delivery</p>
                        </div>
                        <div class="form-group col-4" th:if="${!delivery.expressdelivery} and ${delivery.specialdelivery}">
                            <p>Special Delivery</p>
                        </div>

                        <div class="form-group col-4">
                            <p>State: <span th:text="${delivery.state}"/></p>
                        </div>

                        <div class="form-group col-4">
                            <p>Totalprice: <span th:text="${delivery.totalprice}"/> €</p>
                        </div>
                    </div>
                    <hr/>
                </div>
            </div>
        </div>
        </form>
    </div>
    <div th:replace="fragments/footer :: main_footer"></div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</body>
</html>