<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Parcels & Documents</title>
</head>
<body>
    <div th:replace="fragments/navbar :: user_navbar"></div>
    <div class="container pt-3">
        <h3>Parcels</h3>
            <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">Category</th>
                    <th scope="col">Maximum Weight</th>
                    <th scope="col">Size</th>
                    <th scope="col">Price</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody th:each="parcel : ${parcellist}">
                <tr>
                    <td>
                        <span th:text="${parcel.getCategory()}"/>
                    </td>
                    <td>
                        <p><span th:text="${parcel.getMaxweight()}"/> kg</p>
                    </td>
                    <td>
                        <p><span th:text="${parcel.getLength()}"/> cm x <span th:text="${parcel.getWidth()}"/> cm x <span th:text="${parcel.getHeight()}"/> cm</p>
                    </td>
                    <td>
                        <p><span th:text="${parcel.getPrice()}"/> €</p>
                    </td>
                    <td>
                        <form class="container center" th:action="@{/delivery/shipping}">
                            <button class="btn bg-warning border-dark" type="submit">Create Delivery</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>

            <h3>Documents</h3>
            <table class="table table-sm">
                <thead>
                <tr>
                    <th scope="col">Category</th>
                    <th scope="col">Maximum Weight</th>
                    <th scope="col">Size</th>
                    <th scope="col">Price</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <div class="container" th:each="document : ${documentlist}">
                    <tr>
                        <td>
                            <span th:text="${document.getCategory()}"/>
                        </td>
                        <td>
                            <p><span th:text="${document.getMaxweight()}"/> kg</p>
                        </td>
                        <td>
                            <p><span th:text="${document.getLength()}"/> cm x <span th:text="${document.getWidth()}"/> cm x <span th:text="${document.getHeight()}"/> cm</p>
                        </td>
                        <td>
                            <p><span th:text="${document.getPrice()}"/> €</p>
                        </td>
                        <td>
                            <form class="container center" th:action="@{/delivery/shipping}">
                                <button class="btn bg-warning border-dark" type="submit">Create Delivery</button>
                            </form>
                        </td>
                    </tr>
                </div>
                </tbody>
            </table>
    </div>

    <div th:replace="fragments/footer :: main_footer"></div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>