<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Delivery Tracking</title>
</head>
<body>
    <div th:replace="fragments/navbar :: user_navbar"></div>
    <div class="container-lg pt-3 pb-5 center">
        <form th:action="@{/trackId}">
            <div class="row d-flex justify-content-center">
                <div class="col-1"></div>
                <div class="col-10">
                    <h2>Track your delivery</h2>
                    <hr/>
                </div>
                <div class="col-1"></div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-1"></div>
                <div class="col-10">
                    <div class="row">
                        <div class="col-9">
                            <input type="text" class="form-control" th:name="id" placeholder="Delivery ID">
                        </div>
                        <div class="col-3">
                            <button type="submit" class="btn bg-warning btn-block">Track</button>
                        </div>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
        </form>
        <div class="row p-1" th:if="${notfound}">
            <div class="col-1"></div>
            <div class="col-10">
                <hr/>
                <h3>Unfortunately no delivery was found.</h3>
                <h5>Either no delivery with this id exists or the corresponding delivery has not been completed yet.</h5>
                <h5>In this case please visit the delivery shipping page.</h5>
            </div>
            <div class="col-1"></div>
        </div>
        <div class="row" th:if="${process} or ${sent} or ${delivered}">
            <div class="col-1"></div>
            <div class="col-10">
                <hr/>
                <h3>Delivery <span th:text="${id}"/>:</h3></br>
                <h5 th:if="${process}">Your delivery is currently in process.</h5>
                <h5 th:if="${sent}">Your delivery has been sent.</h5>
                <h5 th:if="${delivered}">Your delivery has been delivered.</h5>
                <hr/>
            </div>
            <div class="col-1"></div>
        </div>
        <div class="row p-1" th:if="${process}">
            <div class="col-1"></div>
            <div class="col-10">
                <div class="progress">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
        <div class="row p-1" th:if="${sent}">
            <div class="col-1"></div>
            <div class="col-10">
                <div class="progress">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 50%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
        <div class="row p-1" th:if="${delivered}">
            <div class="col-1"></div>
            <div class="col-10">
                <div class="progress">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
        <div class="row" th:if="${process} or ${sent} or ${delivered}">
            <div class="col-1"></div>
            <div class="col-1 justify-content-center mx-auto text-center">
                <img th:src="@{/images/check.svg}" width="100">
            </div>
            <div class="col-3"></div>
            <div class="col-2 justify-content-center mx-auto text-center">
                <img th:src="@{/images/sent.svg}" width="100">
            </div>
            <div class="col-3"></div>
            <div class="col-1 justify-content-center mx-auto text-center">
                <img th:src="@{/images/home.svg}" width="100">
            </div>
            <div class="col-1"></div>
        </div>
    </div>
    <div th:replace="fragments/footer :: main_footer"></div>
</body>
</html>