<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!-- Footer -->
<footer class="footer fixed-bottom bg-warning" th:fragment="main_footer">
    <div class="row container-fluid text-dark text-center">
        <div class="col-4">
            <a class="nav-link text-dark" th:href="@{/}">About</a>
        </div>
        <div class="col-4">
            <a class="nav-link text-dark" th:href="@{/}">Contact</a>
        </div>
        <div class="col-4">
            <a class="nav-link text-dark" th:href="@{/}">Privacy Policy</a>
        </div>
    </div>
</footer>
<!-- Footer -->