<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<nav class="navbar navbar-expand-lg navbar-light bg-warning" th:fragment="start_navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img th:src="@{/images/icon.png}" width="75">
        </a>
        <ul class="nav navbar-nav navbar-right">
            <a class="nav-link" th:href="@{/loginSite}">Login</a>
            <a class="nav-link" th:href="@{/registerSite}">Registration</a>
        </ul>
    </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-warning" th:fragment="user_navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="/customer/home">
            <img th:src="@{/images/icon.png}" width="75">
        </a>
        <ul class="nav navbar-nav">
            <a class="nav-link" th:href="@{/overview}">Overview</a>
            <a class="nav-link" th:href="@{/delivery/shipping}">Delivery Shipping</a>
            <a class="nav-link" th:href="@{/delivery/tracking}">Delivery Tracking</a>
            <a class="nav-link" th:href="@{/delivery/parcels}">Parcels and Documents</a>
            <a class="nav-link" th:href="@{/delivery/services}">Additional Services</a>
            <a class="nav-link" th:href="@{/logout}">Logout</a>
        </ul>
    </div>
</nav>